/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.5em;
}

main {
    padding: 20px 0;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    font-size: 1.2em;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Job Title & Work Experience Styles */
.job-title p {
    font-size: 1.5em;
    color: #333;
}

.work-experience ul li {
    margin-bottom: 15px;
}

.work-experience strong {
    font-size: 1.2em;
    color: #333;
}

.work-experience p {
    margin-top: 5px;
    font-size: 1.1em;
    color: #555;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
